* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #303032;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}

.contact-form {
  line-height: 1.4;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  background: #212121;
  margin-bottom: 1em;
  padding: 10px;
}

.form-group ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.form-fields input[type="text"],
.form-fields input[type="number"],
.form-fields input[type="url"] {
  margin: 0 auto;
  max-width: 20%;
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}

.form-fields input[type="text"]:focus,
.form-fields input[type="number"]:focus,
.form-fields input[type="url"]:focus {
  color: #333;
  outline: none;
  background: #f2f2f2;
}

.send-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 0 300px;
}

.form-submit {
  flex: 0 0 100%;
}

.form-fields li {
  display: flex;
  flex-wrap: wrap;
}

.form-fields input[type="text"],
.form-fields input[type="number"],
.form-fields input[type="url"] {
  flex: 1 0 230px;
}

/* Adding media queries*/

@media (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0 0 2em;
  }
  header,
  .form-submit {
    padding: 2% 5%;
  }
  .form-fields input[type="text"],
  .form-fields input[type="number"],
  .form-fields input[type="url"] {
    margin: 0 auto;
    max-width: 80%;
  }
}

.save-btn {
  margin-left: 40%;
  color: black;
  height: 30px;
  width: 100px;
  cursor: pointer;
  transition: 8ms ease-out;
}

.save-btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 140%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
