body {
  width: 100%;
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  background-color: orange;
}

h2 {
  padding-top: 30px;
}

* {
  box-sizing: border-box;
}

form {
  text-align: center;
}

.column {
  background-color: rgb(47, 47, 47);
  float: left;
  width: 25%;
  padding: 0 10px;
  transition: transform 0.2s;
}

.column:hover {
  transform: scale(1.2);
}

.row {
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.movieCard {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  background-color: #a82525;
}

.movieCard img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

h2 {
  text-align: center;
}

.detail {
  text-align: center;
}

a {
  z-index: -1;
  text-decoration: none !important;
  color: rgb(220, 220, 220);
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

a:hover,
a:visited:hover {
  text-decoration: none;
  color: rgb(220, 220, 220);
}

a:active {
  text-decoration: none;
  color: rgb(220, 220, 220);
}
